{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/m6.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading"></span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>Puedes contactarme para la realización de trabajos de programación en lenguajes como php, javaScript y C.</p>
        <p>También te puedo ayudar a configuraciones de algunos protocolos de red.</p>
            
        <br>
        <p><b>Teléfono:</b> +52 753 789 519</p>
       
    </div>
</div>
{% endblock %}

